/*~~~~~~~~~~~~~~~~~~~~ BIG ONES ~~~~~~~~~~~~~~~~~~~~*/

body {
    background-color: #229c9c;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/*~~~~~~~~~~~~~~~~~~~~ STRUCTURE ~~~~~~~~~~~~~~~~~~~~*/


html, body, .container {
    height:100%;
}

.container {
    text-align: center;
    color: white;
}

.left {
    background-color: #229c9c;
    float:left;
    width:10%;
    height:100%;
    overflow: hidden;
    text-align: center;
}

.right {
    background-color: #229c9c;
    float:left;
    width:10%;
    height:100%;
    overflow: hidden;
    text-align: center;
}

.main {
    background-color:#297e84;
    float:left;
    height:100%;
    width: 80%;
    overflow-y:scroll;
}

.button-box-wrapper {
    display: inline-flex;
    flex-direction: column;
}

.button-box:hover {
    filter: brightness(120%);
    box-shadow: 10px 10px 10px #000;
}
  
.button-box:active {
    box-shadow: inset 2px 2px 10px #000;
}

/*~~~~~~~~~~~~~~~~~~~~ STYLE ON ELEMENTS ~~~~~~~~~~~~~~~~~~~~*/

h1 {
    font-size: small;   
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

.game-title {
    font-size: larger;
    color: #297e84;
    font-family: 'Lucida Grande'
}

.button-box {
    margin: 10px;
    border-radius: 10px;
}
 
.emoji {
    font-size: 30px;
}
/*~~~~~~~~~~ ENTER CATEGORY HERE ~~~~~~~~~~*/
/*-------img------*/
